.container {
  display: flex;
  justify-content: space-evenly;
  background-image: url("CatBackground3.jpeg");
  width: 700px;
  border-radius: 20px;
  height: 499px;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
}

img {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 150px;
  position: relative;
  margin:20px;
}

h1 {
  font-family: verdana;
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 15px;
  position: relative;
  left: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  position: static;
  color: rgb(0, 0, 0);
}

.id {
  width:680px;
  margin:20px;
}
