body {
  background-image: img src ("CatBackground.jpg");
  background-image: img src("CatBackground.jpg" width = "250");
  background-color: #cccccc;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
div {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}